.debug {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
}

.slots {
    --icon-background-color: rgba(255, 255, 255, .5);
    --icon-width: 300px;
    --icon-height: calc(var(--icon-width) * 1.5);
    --num-icons: 6;
    --icon-gap: 100px;

    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--icon-gap);
    height: var(--icon-height);

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 10px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &::before {
        left: 40px;
        transform: translate(-200%, -50%);
    }

    &::after {
        right: 40px;
        transform: translate(200%, -50%);
    }

    @keyframes win1 {
        0% {
            background: linear-gradient(45deg, orange 0%, yellow 100%);
            box-shadow: 0 0 80px orange
        }
        100% {
            background: linear-gradient(45deg, grey 0%, lightgrey 100%);
            box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    @keyframes win2 {
        0% {
            background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
            box-shadow: 0 0 80px lightgreen
        }
        100% {
            background: linear-gradient(45deg, grey 0%, lightgrey 100%);
            box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    &.win1 {
        animation: win1 200ms steps(2, end) infinite;
    }

    &.win2 {
        animation: win2 200ms steps(2, end) infinite;
    }

    .octagon {
        width: var(--icon-width);
        height: var(--icon-height);

        background: var(--icon-background-color);
        /*background: rgba(255, 255, 255, 0.3);*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            .reel {
                background-image: url(../../assets/slotreel_1.svg);
            }
        }

        &:nth-child(2) {
            .reel {
                background-image: url(../../assets/slotreel_2.svg);
            }
        }

        &:nth-child(3) {
            .reel {
                background-image: url(../../assets/slotreel_3.svg);
            }
        }


        .reel {
            position: relative;
            width: var(--icon-width);
            height: calc(var(--icon-height) * 3);
            border-radius: 3px;
            overflow: hidden;
            background-position: 0 0;
            background-repeat: repeat-y;
            background-size: 100% auto;
        }

    }
}
